<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>SeanKenny.Alfred-IATA</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>585892D2-674F-42C1-A739-086DDB339687</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A073E4E1-657D-4D4F-A7BD-5E21EBC7930B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sean Kenny</string>
	<key>description</key>
	<string>Quickly look up airport IATA codes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Airport Iata</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>iata</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/ruby iata.rb "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Lookup airport IATA codes</string>
				<key>title</key>
				<string>IATA Codes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>585892D2-674F-42C1-A739-086DDB339687</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A073E4E1-657D-4D4F-A7BD-5E21EBC7930B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>585892D2-674F-42C1-A739-086DDB339687</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A073E4E1-657D-4D4F-A7BD-5E21EBC7930B</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/cookiefission/alfred-iata</string>
</dict>
</plist>
